body{
	background-color: black;
}
#app {
	   text-align: center;
	   margin-top: 100px;
	}
.game{
	   height: 280px;
	}
.px {
		width: 15px;
		height: 15px;
		background: white;
		border-bottom: 1px solid gray;
		border-right: 1px solid gray;
		display: inline-block;
	}
.px.col{
		display: block;
	}
.snake{
		background: violet;
	}
.food{
		background: blue;
	}
.score{
	font-size: 100px;
	font-family: sans-serif;
	color: green;
}
.scorer{
	font-size: 20px;
	font-family: sans-serif;
	color: green;
	margin-top: -100px;
}